# export LEPTOS_SASS_VERSION=1.71.0
# export ASSERT_DIR=public
# export LEPTOS_WASM_OPT_VERSION=version_121
# export LEPTOS_HASH_FILES=true

# Set optimization flags
# export RUSTFLAGS="-C embed-bitcode=yes -C codegen-units=1 -C opt-level=3 --cfg web_sys_unstable_apis"
# not working
