body {
	font-family: sans-serif;
	text-align: center;
        #hidden-btn {
          display: none;
        }
      h1 {
        padding: 15px;
      }
      .table {
        margin: 0 auto;
      }
      .row {
        display: flex;
        align-item: center;
        justify-content: center;
    
      }
      .row,
      .cell {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
      }
}
